/target/
/.settings/
/.classpath
/.project
/.idea
*.iml
/.gradle
/classes
db.properties
test.db.properties
project.properties
test.project.properties
data/
logs/
out/
build/
app/src/main/resources/static
/docker/service/docker-compose.yml
docs/http/rest-client.env.json
/storage
